@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500;1,600&display=swap');

.error {
    text-align: center;
    color: var(--main-color);
    font-family: 'Montserrat Alternates', sans-serif;
    --shadow: #0b513c;
}

.num {
    font-size: 7rem;
    margin-bottom: 20px;
    text-shadow: 0 7px 0 var(--shadow);
}

.text {
    font-size: 4rem;
    margin-top: 35px;
    text-shadow: 0 5px 0 var(--shadow);
}

.return-p {
    text-align: center;
    font-size: 35px;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
}

.return-a:active, .return-a:visited, .return-a:link {
    text-decoration: none;
    color: #636363;
}

.repair {
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    top: 200px;
    position: fixed;
    margin-left: 50px;
}