@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500;1,600&display=swap');

.error {
    text-align: center;
    color: var(--main-color);
    font-family: 'Montserrat Alternates', sans-serif;
    --shadow: #0b513c;
}

.num {
    font-size: 7rem;
    margin-bottom: 20px;
    text-shadow: 0 7px 0 var(--shadow);
}

.text {
    font-size: 4rem;
    margin-top: 35px;
    text-shadow: 0 5px 0 var(--shadow);
}