.login-main {
    color: var(--main-color) !important;
}

.box {
    position: absolute;
    margin-left: -3px;
}

.login-box {
    left: 10%;
}

.signup-box {
    left: 60%;
}

.login-box p, .signup-box p {
    top: 100px;
}

.login-box h1, .signup-box h1 {
    top: 110px;
    float: left;
    font-size: 40px;
    border-bottom: 6px solid var(--main-color);
    margin-bottom: 50px;
    padding: 13px 0;
}

.login-box button, .signup-box button {
    position: absolute;
    left: 35%;
    margin-left: -3px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    outline: none;
    background: none;
}

.textbox input, .textbox-hint input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    float: left;
    margin: 0 10px;
}

.textbox input {
    border: none;
    width: 90%;
    border-bottom: 2px solid var(--main-color);
}

.textbox-hint input {
    width: 60%;
    border: 2px solid var(--error);
}

.button-submit {
    width: 115px;
    height: 35px;
    background: none;
    border: 2px solid var(--main-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    align-content: center;
    margin: 30px 30px 30px 400px;
    color: var(--main-color)
}

.red-text {
    color: var(--error);
}