html {
    overflow-y: hidden;
}

.product-main {
    overflow-y: scroll;
}

.product-photo {
    position: absolute;
    top: 150px;
    left: 70px;
    border: 1px solid #CCC;
    background-color: var(--white);
    padding: 4px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.description {
    top: 200px;
    bottom: 50px;
    height: auto;
    position: absolute;
    right: 0;
    left: 45%;
    margin-left: -3px;
    color: var(--main-color);
}

.title {
    position: absolute;
    left: 45%;
    align-content: center;
    top: 90px;
    float: left;
    font-size: 40px;
    color: var(--main-color);
    border-bottom: 6px solid var(--main-color);
    margin-bottom: 50px;
    padding: 13px 0;
}

.description p {
    word-wrap: break-word;
    font-size: 20px;
    padding: 3px;
}

.rows-spacing {
    line-height: 1.5;
}

.first-line-indent {
    padding-left: 1.5em;
    text-indent:-1.5em;
}