main {
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}

.main-result {
    overflow-y: scroll;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.border {
    width: 300px;
    margin: 0 auto 50px;
    background: var(--white);
    padding: 20px;
    border: 1px solid #F1E7E8;
}

.wrap {
    height: 100%;
    position: relative;
}

.product-wrap {
    position: relative;
}

.product-wrap:after {
    content: '';
    background: rgba(10, 202, 110, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transform: scale(.3);
    transition: .3s ease-in-out;
}

.border:hover .product-wrap:after {
    opacity: 1;
    transform: scale(1);
}

.product-wrap a {
    display: block;
    text-decoration: none;
}

.product-wrap img {
    display: block;
    width: 100%;
}

.product-button {
    position: absolute;
    left: 50%;
    top: 35%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}

.border:hover .product-button {
    opacity: 1;
}

.product-button a {
    text-decoration: none;
    display: block;
    border: 1px solid var(--white);
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: var(--white);
    min-width: 160px;
    margin: 5px auto;
    transition: .3s ease-in-out;
}

.product-button a:hover {
    background: var(--white);
    color: black;
}

.border:hover {
    border-color: var(--main-color);
}

.product-info {
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    text-align: center;
}

.product-title {
    font-size: 18px;
}

.price {
    font-weight: bold;
}

/*This one is a button. If you hover on the button, it will change color */
/*.product-button a:last-child:hover {*/
/*    background: #c00;*/
/*    color: red;*/
/*}*/

/*This one is p tags. */
/*.product-info div:last-child p {
/*    color: red;*/
/*}*/

/*http://jsfiddle.net/Symphony/7Lzg5s31/1/ simple example*/
/*here I have a question - how can we connect first and second styles (P.S. + ~ > don't work)*/
/*.product-button a:last-child:hover > .product-info div:last-child p {*/
/*    !*background: #c00;*!*/
/*    !*display: block;*!*/
/*    visibility: visible;*/
/*}*/

/*!*This style is for hiding Price History*!*/
/*.history {*/
/*    visibility: hidden;*/
/*}*/

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 20px;
    width: 900px;
    height: 45px;
    transform: translate(35%, 0);
}

.pagination-link {
    position: relative;
    z-index: 5;
    display: inline-block;
    min-width: 48px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin: 5px;
    text-decoration: none;
    text-decoration-color: var(--main-color);
}

.pagination-active-link {
    border-color: var(--main-color);
}

.pagination-direction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 64px;
}

.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    list-style: none;
}

.button-arrow {
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 0 1px #ebebeb;
    box-shadow: inset 0 0 0 1px #ebebeb;
    color: var(--main-color);
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
}

.button-arrow:active, .button-arrow:visited {
    color: var(--main-color);
}

J