<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,links,scripts)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/assets/img/icon.png}" type="image/icon type">

    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>