<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <div class="wrapper" th:fragment="copy">
        <div class="row">
            <div class="logo">
                <p>
                    <a th:href="@{/}">
                        <img alt="logo" class="logo-picture" th:src="@{/assets/img/logo.png}"></a>
                </p>
            </div>
            <form action="" class="search-field">
                <input name="search" placeholder="Search..." type="text">
                <button type="submit"><em class="fa fa-search"></em></button>
            </form>
            <div class="button-container">
                <a class="btn header-button" th:href="@{/login}">Log in</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>