<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="copy">
    <div class="wrapper">
        <div class="row">
            <div class="logo">
                <p>
                    <a th:href="@{/}">
                        <img id="logo" alt="logo" class="logo-picture" th:src="@{/assets/img/logo.png}"></a>
                </p>
            </div>
            <form th:action="@{/search}" class="search-field" method="get">
                <input id="search-field" name="search" placeholder="Search..." type="text">
                <button id="search-button" type="submit"><em class="fa fa-search"></em></button>
            </form>
            <div class="button-container">
                <a id="index-button" class="btn header-button" th:href="@{/login}">Log in</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>