<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sort-select" th:fragment="sort-dropdown">
    <label>
        <select id="sort-select" class="sort-select">
            <option value="0">Sort by:</option>
            <option value="1">Price upward</option>
            <option value="2">Price downward</option>
            <option value="3">Name upward</option>
            <option value="4">Name downward</option>
        </select>
    </label>
</div>
</body>
</html>