<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/assets/css/error.css}">
    <script/>
</head>
<body>
<div th:insert="fragments/header :: copy"></div>
<main>
    <h1 class="error num" th:inline="text">[[${errorCode}]]</h1>
    <h1 class="error text" th:inline="text">[[${errorText}]]</h1>
    <div>
        <p class="return-p"><a class="return-a" th:href="@{/}">Return to home page</a></p>
    </div>
</main>
<div th:insert="fragments/footer :: copy"></div>
</body>
</html>