<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/error.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="wrapper">
        <div class="row">
            <div class="logo">
                <p>
                    <a th:href="@{/}">
                        <img alt="logo" class="logo-picture" th:src="@{/assets/img/logo.png}"></a>
                </p>
            </div>
            <form action="" class="search-field">
                <input name="search" placeholder="Search..." type="text">
                <button type="submit"><em class="fa fa-search"></em></button>
            </form>
            <div class="button-container">
                <a class="btn header-button" th:href="@{/}">Main</a>
            </div>
        </div>
    </div>
</header>
<main>
    <h1 class="error num" th:inline="text">[[${errorCode}]]</h1>
    <h1 class="error text" th:inline="text">[[${errorText}]]</h1>
    <div>
        <p class="return-p"><a class="return-a" th:href="@{/}">Return to home page</a></p>
    </div>
</main>
<footer>
    <p class="footer">Karazin University 2020</p>
</footer>
</body>
</html>