<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Price Observer</title>
    <link th:href="@{/assets/css/index.css}" rel="stylesheet">
    <th:block th:insert="fragments/commonHead :: copy"/>
</head>
<body>
<th:block th:insert="fragments/header :: copy"/>
<main class="index-main">
    <div class="image-container"></div>
    <p class="motto">Find your best price</p>
    <div class="grid-container">
        <div class="first-row-product-category">
            <a id="smartphone" href="" class="btn product-type-btn product-type-btn-text" target="_blank">Smartphone</a>
            <a id="laptop" href="" class="btn product-type-btn product-type-btn-text" target="_blank">Laptop</a>
            <a id="tablet" href="" class="btn product-type-btn product-type-btn-text" target="_blank">Tablet</a>
        </div>
        <div class="second-row-product-category">
            <a id="watch" href="" class="btn product-type-btn product-type-btn-text" target="_blank">Smart Watch</a>
            <a id="allinone" href="" class="btn product-type-btn product-type-btn-text" target="_blank">All-in-one</a>
        </div>
    </div>
</main>
<th:block th:insert="fragments/footer :: copy"/>
</body>
</html>