<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Price Observer</title>
    <link th:href="@{/assets/css/index.css}" rel="stylesheet">
    <th:block th:insert="fragments/commonHead :: copy"/>
</head>
<body>
<th:block th:insert="fragments/header :: copy"/>
<main class="index-main">
    <div class="image-container"></div>
    <p class="motto">Find your best price</p>
    <div class="grid-container">
        <div class="first-row-product-category">
            <a th:href="@{/products/smartphone}" class="btn product-type-btn product-type-btn-text">Smartphone</a>
            <a th:href="@{/products/laptop}" class="btn product-type-btn product-type-btn-text">Laptop</a>
            <a th:href="@{/products/tablet}" class="btn product-type-btn product-type-btn-text">Tablet</a>
        </div>
        <div class="second-row-product-category">
            <a th:href="@{/products/smartwatch}" class="btn product-type-btn product-type-btn-text">Smart Watch</a>
            <a th:href="@{/products/all-in-one}" class="btn product-type-btn product-type-btn-text">All-in-one</a>
        </div>
    </div>
</main>
<th:block th:insert="fragments/footer :: copy"/>
</body>
</html>