<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <link th:href="@{/assets/css/login.css}" rel="stylesheet">
    <th:block th:insert="fragments/commonHead :: copy"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e99543c0a3.js"></script>
    <!--    <script src="js/loginFormValidation.js"></script>-->
    <!--    <script src="js/signupFormValidation.js"></script>-->
</head>
<th:block th:insert="fragments/header :: copy"/>
<main class="login-main">
    <form class="box login-box">
        <p>If you have an account, please enter your email and password</p>
        <h1>Log in</h1>
        <div class="textbox">
            <em class="fas fa-user"></em>
            <input id="login" name="email" placeholder="Username" type="text">
        </div>
        <div class="textbox-hint" id="login-hint"></div>
        <div class="textbox">
            <em class="fas fa-lock"></em>
            <input id="pwd" name="password" placeholder="Password" type="password">
        </div>
        <div class="textbox-hint" id="pwd-hint"></div>

        <button id="log-in-but" class="button-submit" onclick="validateAndLogIn()">Log in</button>
    </form>

    <div class="vl"></div>

    <form class="box signup-box">
        <p>If you have don't have an account, please fill this form to create it</p>
        <h1>Sign up</h1>
        <div class="textbox">
            <input id="first_name" name="firstName" placeholder="First name" type="text" value="">
        </div>
        <div class="textbox-hint" id="reg-first-name-hint"></div>

        <div class="textbox">
            <input id="last_name" name="lastName" placeholder="Last name" type="text" value="">
        </div>
        <div class="textbox-hint" id="reg-last-name-hint"></div>
        <div class="textbox">
            <input id="reg-login" name="email" placeholder="E-mail" type="text">
        </div>
        <div class="textbox-hint" id="reg-login-hint"></div>

        <div class="textbox">
            <input id="reg-pwd" name="password" placeholder="Password" type="password">
        </div>
        <div class="textbox-hint" id="reg-password-hint"></div>

        <div class="textbox">
            <input id="reg-pwd-r" name="password_r" placeholder="Repeat password" type="password">
        </div>
        <div class="textbox-hint" id="reg-password-r-hint"></div>
        <button id="sign-up-but" class="button-submit" onclick="validateAndSignUp()">Sign Up</button>
    </form>
</main>
<th:block th:insert="fragments/footer :: copy"/>
</body>
</html>