<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
    <link th:href="@{/assets/css/productPage.css}" rel="stylesheet">
    <th:block th:insert="fragments/commonHead :: copy"/>
</head>
<body>
<th:block th:insert="fragments/header :: copy"/>
<main>
    <form>
        <div>
            <img alt="Product photo"
                 class="product-photo"
                 src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-11-pro-gold-select-2019_GEO_EMEA?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1567808542418">
        </div>
        <h1 class="title">Description</h1>
        <div class="description product-main">
            <div>
                <p>Name:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <div>
                <p>Model:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <div>
                <p>Manufacturer: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <div>
                <p>Year:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <div>
                <p>Type:</p>
            </div>
            <div>
                <p>Description:</p>
            </div>
            <div>
                <p>Properties:</p>
            </div>


            <div>
                <p>Name:</p>
            </div>
            <div>
                <p>Model:</p>
            </div>
            <div>
                <p>Manufacturer:</p>
            </div>
            <div>
                <p>Year:</p>
            </div>
            <div>
                <p>Type:</p>
            </div>
            <div>
                <p>Description:</p>
            </div>
            <div>
                <p>Properties:</p>
            </div>
        </div>
    </form>
</main>
<th:block th:insert="fragments/footer :: copy"/>
</body>
</html>