<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${type}"></title>
    <link th:href="@{/assets/css/productsList.css}" rel="stylesheet">
    <th:block th:insert="fragments/commonHead :: copy"/>
</head>
<body th:with="areProductsPresent = ${productsAndPrices != null && !productsAndPrices.isEmpty()}">

<th:block th:insert="fragments/header :: copy"/>

<th:block th:if="${areProductsPresent && !singleProductList}">
    <div class="pagination">
        <a class="button-arrow pagination-direction left-arrow"
           th:with="isPrevPagePresent=${previousPage != null && !previousPage.isEmpty()}"
           th:href="@{${isPrevPagePresent ? '/products/' + type + '?page=' + previousPage : ''}}"
           th:classappend="${isPrevPagePresent ? '' : 'not-clickable'}">
            <em class="fa fa-angle-left" aria-hidden="true"></em>
        </a>
        <a class="button-arrow pagination-direction right-arrow"
           th:with="isNextPagePresent=${nextPage != null && !nextPage.isEmpty()}"
           th:href="@{${isNextPagePresent ? '/products/' + type + '?page=' + nextPage : ''}}"
           th:classappend="${isNextPagePresent ? '' : 'not-clickable'}">
            <em class="fa fa-angle-right" aria-hidden="true"></em>
        </a>
        <ul class="pagination-list">
            <th:block th:if="${pageList != null && !pageList.isEmpty()}" th:each="pageNumber : ${pageList}"
                      th:with="isNumberStub=${pageNumber.equals('...')}">
                <li>
                    <a class="pagination-link"
                       th:classappend="${(pageNumber.equals(selectedPage) ? 'pagination-active-link not-clickable' : '') +
                                     (isNumberStub ? 'not-clickable' : '')}"
                       th:href="@{${isNumberStub ? '' : '/products/' + type + '?page=' + pageNumber}}"
                       th:text="${pageNumber}"></a>
                </li>
            </th:block>
        </ul>
    </div>

    <th:block th:insert="fragments/sortDropdown :: sort-dropdown"/>
</th:block>

<main class="main-result">
    <th:block th:if="${productsAndPrices != null && !productsAndPrices.isEmpty()}">
        <th:block th:insert="fragments/productListing :: listing"/>
    </th:block>
</main>

<th:block th:insert="fragments/footer :: copy"/>

<script type="text/javascript" th:src="@{/assets/js/sortSelect.js}"></script>
</body>
</html>