<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title},~{::link})">
    <title>Profile</title>
    <link th:href="@{/assets/css/profile.css}" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header :: copy"></div>
<main>
    <div>
        <div>
            <div>
                <img alt="Profile photo"
                     class="profile-photo"
                     src="https://cdn.shopify.com/s/files/1/1061/1924/files/Smliing_Emoji_Icon.png?13752525173949329807">
            </div>
            <form action="" class="upload-form" enctype="multipart/form-data" method="post">
                Select image to upload:
                <input class="profileUploadChoose" id="fileToUpload" name="fileToUpload" type="file">
                <input class="upload-button-picture" name="submit" type="submit" value="Upload Image">
            </form>
        </div>
        <div>
            <form action="updateProfileController" class="profile-form" method="post">
                <h1>Profile</h1>
                <div>
                    <div class="field">
                        <label>First name</label>
                        <input name="firstName" placeholder="First name" required type="text" value="first_name">
                    </div>
                    <div class="field">
                        <label>Last name</label>
                        <input name="lastName" placeholder="Last name" required type="text" value="last_name">
                    </div>
                    <div class="field">
                        <label>E-mail </label>
                        <input id="email" name="email" placeholder="E-mail" required type="text" value="email">
                    </div>
                    <div class="field">
                        <label>Birth Day </label>
                        <input id="birth" name="birth" placeholder="BirthDay" required type="text" value="01/01/2020">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input id="password" name="password" placeholder="Password" required type="password"
                               value="password">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="vl"></div>
    <form>
        <h1 class="title">Wish list</h1>
        <div class="wish wish-main">
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
            <p>IPhone 10 </p>
            <p>IPhone 11 </p>
        </div>
    </form>
</main>
<div th:insert="fragments/footer :: copy"></div>
</body>
</html>