<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find</title>
    <link th:href="@{/assets/css/searchResult.css}" rel="stylesheet">
    <th:block th:insert="fragments/commonHead :: copy"/>
<!--    <script src="assets/js/sortSelect.js"></script>-->
</head>
<body>
<th:block th:insert="fragments/header :: copy"/>
<div class="pagination">
    <a class="button-arrow pagination-direction left-arrow">
        <em class="fa fa-angle-left" aria-hidden="true"></em>
    </a>
    <a class="button-arrow pagination-direction right-arrow">
        <em class="fa fa-angle-right" aria-hidden="true"></em>
    </a>
    <ul class="pagination-list">
        <!--        <li><a class="pagination-link pagination-active-link">1</a></li>-->
        <th:block th:each="i : ${#numbers.sequence(1, pageCount)}">
            <li><a class="pagination-link" th:classappend="${i == selectedPage} ? 'pagination-active-link' : ''" href="" th:text="${i}"></a></li>
        </th:block>
    </ul>
</div>
<div class="sort-select">
    <label>
        <select id="sort-select" class="sort-select">
            <option value="0">Sort by:</option>
            <option value="1">Price upward</option>
            <option value="2">Price downward</option>
            <option value="3">Name upward</option>
            <option value="4">Name downward</option>
        </select>
    </label>
</div>
<main class="main-result">
    <th:block th:if="${products != null}">
        <th:block th:each="product : ${products}">
            <div class="border">
                <div class="wrap">
                    <a th:href="@{'/product/' + ${product.id}}">
                        <div class="product-wrap">
                            <img th:src="${product.image}" th:alt="${product.name}">
                        </div>
                    </a>
                    <div class="product-button">
                        <a href="">Add to wish list</a>
                        <a href="">Price history</a>
                    </div>
                    <div class="product-info">
                        <h3 class="product-title" th:text="${product.name}"></h3>
                        <div class="price">1999</div>
                        <div class="history">
                            <p>01/01/2020 2500 Rozetka</p>
                            <p>01/09/2020 2700 Rozetka</p>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
</main>
<th:block th:insert="fragments/footer :: copy"/>
<script src="assets/js/sortSelect.js"></script>
</body>
</html>