<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="wrapper">
        <div class="row">
            <div class="logo">
                <p>
                    <a th:href="@{/}">
                        <img alt="logo" class="logo-picture" height="40.5" th:src="@{/assets/img/logo.png}"
                             width="251.5"></a>
                </p>
            </div>
            <form action="" class="search-field">
                <input name="search" placeholder="Search..." type="text">
                <button type="submit"><em class="fa fa-search"></em></button>
            </form>
            <div class="button-container">
                <a class="btn header-button" th:href="@{/login}">Log in</a> <!-- LogIn Profile  -->
            </div>
        </div>
    </div>
</header>
<main>
    <h1 class="error-message">SORRY, NO RESULTS FOR "---" HAVE BEEN FOUND</h1>
</main>
<footer>
    <p class="footer">Karazin University 2020</p>
</footer>
</body>
</html>