<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find</title>
    <link th:href="@{/assets/css/searchResult.css}" rel="stylesheet">
    <th:block th:insert="fragments/commonHead :: copy"/>
</head>
<body>
<th:block th:insert="fragments/header :: copy"/>
<div class="pagination">
    <a class="button-arrow pagination-direction">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <ul class="pagination-list">
        <li><a class="pagination-link pagination-active-link">1</a></li>
        <li><a class="pagination-link" href="">2</a></li>
        <li><a class="pagination-link" href="">3 </a></li>
        <li><a class="pagination-link" href="">4 </a></li>
        <li><a class="pagination-link" href="">5 </a></li>
        <li><a class="pagination-link" href="">6 </a></li>
        <li><a class="pagination-link" href="">7 </a></li>
        <li><a class="pagination-link" href=""> ... </a></li>
        <li><a class="pagination-link" href="">34 </a></li>
    </ul>
    <a class="button-arrow pagination-direction" href="">
        <em class="fa fa-angle-right" aria-hidden="true"></em>
    </a>
</div>
<main class="main-result">
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href=""><img
                        src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-11-pro-gold-select-2019_GEO_EMEA?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1567808542418"></a>
            </div>
            <div class="product-button">
                <a href="">Add to wish list</a>
                <a href="">Price history</a>
            </div>
            <div class="product-info">
                <h3 class="product-title">IPhone 10</h3>
                <div class="price">1999</div>
                <div class="history">
                    <p>01/01/2020 2500 Rozetka</p>
                    <p>01/09/2020 2700 Rozetka</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href=""><img
                        src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-11-pro-gold-select-2019_GEO_EMEA?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1567808542418"></a>
            </div>
            <div class="product-button">
                <a href="">Add to wish list</a>
                <a href="">Price history</a>
            </div>
            <div class="product-info">
                <h3 class="product-title">IPhone 11</h3>
                <div class="price">3999</div>
                <div class="history">
                    <p>01/01/2020 5500 Avic </p>
                    <p>01/09/2020 6700 Avic </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href=""><img
                        src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-11-pro-gold-select-2019_GEO_EMEA?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1567808542418"></a>
            </div>
            <div class="product-button">
                <a href="">Add to wish list</a>
                <a href="">Price history</a>
            </div>
            <div class="product-info">
                <h3 class="product-title">IPhone 12</h3>
                <div class="price">4999</div>
                <div class="history">
                    <p>Nothing to show</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href=""><img
                        src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-11-pro-gold-select-2019_GEO_EMEA?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1567808542418"></a>
            </div>
            <div class="product-button">
                <a href="">Add to wish list</a>
                <a href="">Price history</a>
            </div>
            <div class="product-info">
                <h3 class="product-title">IPhone 12</h3>
                <div class="price">4999</div>
                <div class="history">
                    <p>Nothing to show</p>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/footer :: copy"/>
</body>
</html>